:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
  color: #34355b;
  display: grid;
  place-content: center;

  background: linear-gradient(45deg, #190361 0%, #b0f 100%);
  height: 100vh;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;

  margin-bottom: 1.8rem;
}

p,
button {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.container-header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 3.2rem;

  border-radius: 5px 5px 0 0;
  background-color: #34355b;
}

.container-header span {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.container-header span:nth-child(1) {
  background-color: #ff5f56;
}

.container-header span:nth-child(2) {
  background-color: #ffbd2e;
}

.container-header span:nth-child(3) {
  background-color: #27c93f;
}

.box-1,
.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 6.4rem;

  border-radius: 0 0 5px 5px;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.8);
}

.hidden {
  display: none;
}

.box-1 p {
  margin-bottom: 2rem;
}

.box-1 img:hover {
  animation: shake 0.2s ease-in-out infinite;
  cursor: pointer;
}

.box-2 p {
  font-family: "Dancing Script", cursive;
  font-size: 2.4rem;
  line-height: 1.2;
  text-align: center;

  width: 29.2rem;
  padding: 1rem;
  margin: 2.8rem;

  border-left: 6px dotted #34355b;

  background: #e4edf1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.5);

  animation: quote-animation 2s ease-in-out;
}

button {
  color: #fff;
  font-weight: 700;
  padding: 1.6rem;
  border-radius: 0.4rem;
  border: none;
  background-color: #ff9500;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #d07c06;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
  25% {
    transform: translateX(-5px);
    transform: rotate(-5deg);
  }
  50% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
  75% {
    transform: translateX(5px);
    transform: rotate(5deg);
  }
  100% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
}

@keyframes quote-animation {
  0% {
    opacity: 0;
    width: 0.2rem;
    height: 0.2rem;
    font-size: 0.1rem;
    border-left: none;
    transform: translateY(13.5rem);
  }
  100% {
    opacity: 1;
    width: 29.2rem;
    transform: translateY(0);
  }
}
